<div id="wrapper">
  <div id="sidebar" (mouseenter)="toggleSidebar(true)" (mouseleave)="toggleSidebar(false)" [class.toggled]="!sidebarOpen">
    <div class="sidebar-header">Dashboard</div>
    <ul class="components">
      <li><a routerLink="/dashboard/predictive"><i class="bi bi-bar-chart-line-fill"></i> Predictive</a></li>
      <li><a routerLink="/dashboard/raw-material"><i class="bi bi-box-seam"></i> Raw Material</a></li>
      <li><a routerLink="/dashboard/finished-goods"><i class="bi bi-box2-fill"></i> Finished Goods</a></li>
      <li><a routerLink="/dashboard/production"><i class="bi bi-people-fill"></i> Production Workers</a></li>
      <li><a routerLink="/dashboard/profile"><i class="bi bi-person-fill"></i> Profile</a></li>
    </ul>
  </div>

  <div id="content" [class.toggled]="!sidebarOpen">
    <router-outlet></router-outlet>
  </div>
</div>
